extends layout

block content
  h1= title
  p Welcome to #{title} My Name is Nuthan Jarugumalli
  p hello every one
  button(type="button", class="btn btn-secondary", onclick="double()") Iam a button
  br
  br
  //- Add a div with id "double" and text "Up the amount"
  div#double Up the amount
  br
  a(href='/dress') View Search Results
  
  //- Script block
  script.
    // JavaScript code
    var value = 0;
    var power = 1;

    function double() {
      value += 1;
      power *= 2;
      document.getElementById("double").innerText = "Two to the power " + value + " is " + power;
    }
    